/* index.css = match index, thus home.css */
html, body {
	height: 100%;
}

body {
	color: red;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: serif;
}

/* flash that body */
.flash {
	animation-name: fade;
	animation-duration: 4s;
}

@keyframes fade {
	from {
		background-color: #b10909;
	}
	to {
		background-color: #fff;
	}
}

.fade {
	animation-name: out;
	animation-duration: 3s;
}

@keyframes out {
	100% {
		opacity: 0;
	}
}

.in {
	animation-name: in;
	animation-duration: 0.4s;
	animation-iteration-count: 10;
}

@keyframes in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
	height: 100%;
}

.left {
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.content {
	padding-left: 10px;
}

.center {
	width: 20%;
	height: 100%;
	border-left: 1px solid #000;
	margin-left: -1px;
	display: inline-block;
	vertical-align: top;
}

.right {
	width: 50%;
	height: 100%;
	border-left: 1px solid red;
	margin-left: -10px; /* tolerance to deal with browser zoom */
	display: inline-block;
	vertical-align: top;
}

.right h1 {
	margin: 0;
	padding: 0;
}

a {
	color: red;
}

a:hover {
	color: #000;
}

.site-logo a {
	color: #a22;
	font-size: 20em;
	text-decoration: none;
	margin-left: -50px;
	border: 1px solid black;
}

.site-logo a:hover {
	color: #000;
}

/* left column content */

h3 {
	font-size: 3em;
}

.dev-wrap {
	position: absolute;
	left: 20px;
	z-index: -4;
}

.site-search input {
	border-top: 2px solid red;
	border-right: 2px solid red;
	border-bottom: 2px solid red;
	border-left: 8px solid red;
	background-color: rgba(0, 0, 0, 0);
	color: red;
	margin: 0;
	padding: 4px;
}

.site-search input::placeholder {
	color: #fa0a0a;
}

.site-search input[type=text] {
	width: 120px;
	margin-right: -2px;
}

.site-search input[type=submit] {
	border-left: 1px solid red;
	font-weight: normal;
	cursor: pointer;
}

/* some navi stuff */
h4 {
	margin-top: 24px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	border-bottom: 1px solid red;
	padding-left: 10px;
	padding-right: 29%;
	width: 100%;
}

li + li {
	margin-top: 8px;
}

li a {
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.none {
	display: none;
}
