/* using colours from kasugano terminal.sexy scheme */
body {
	color: #edeff2;
	background: #1b1b1b;
	width: 720px;
}

a {
	color: #31658c;
}

a:hover {
	color: #477ab3;
}

.site-logo a {
	color: #edeff2;
	text-decoration: none;
}

.site-logo a:hover {
	color: #ffffff;
}

.site-search input {
	border-radius: 0;
	border: 1px solid #c8cacc;
	background-color: #1b1b1b;
	color: #edeff2;
	margin: 0;
	padding: 4px;
}

.site-search input::placeholder {
	color: #c8cacc;
}

.site-search input[type=text] {
	width: 180px;
}

.site-search input[type=submit] {
	cursor: pointer;
}
